@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager; 
@model FilRouge_TicketMaster_MVC_Core.ViewModels.DetailsCustomerTicketViewModel

@{
    ViewBag.Title = "Ticket Details";
}

@* <div class="row align-items-center" style="min-height: calc(100vh - 148px);">
    <div class="row fourth-color radius25">
        <h3 class="text-center fw-bold">Informations client</h3>
        <div class="row">
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-3 border-end fw-bolder">
                        Nom
                    </div>
                    <div class="col-9">
                        @Model.Person.Lastname
                    </div>
                </div>
            </div>
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-3 border-end fw-bolder">
                        Prénom
                    </div>
                    <div class="col-9">
                        @Model.Person.Firstname
                    </div>
                </div>
            </div>
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-5 border-end fw-bolder">
                        Date de naissance
                    </div>
                    <div class="col-7">
                        @(Model.Person.BirthdayDate?.ToString("dd/MM/yyyy") ?? "N/A")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-3 border-end fw-bolder">
                        Adresse
                    </div>
                    <div class="col-9">
                        @Model.Person.Address
                    </div>
                </div>
            </div>
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-3 border-end fw-bolder">
                        Ville
                    </div>
                    <div class="col-9">
                        @Model.Person.City
                    </div>
                </div>
            </div>
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-4 border-end fw-bolder">
                        Code postal
                    </div>
                    <div class="col-8">
                        @Model.Person.PostalCode
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-3 border-end fw-bolder">
                        N° Fixe
                    </div>
                    <div class="col-9">
                        @Model.Person.PhoneNumber
                    </div>
                </div>
            </div>
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-4 border-end fw-bolder">
                        N° Portable
                    </div>
                    <div class="col-8">
                        @Model.Person.MobilePhone
                    </div>
                </div>
            </div>
            <div class="m-1 col radius10 third-color">
                <div class="row">
                    <div class="col-4 border-end fw-bolder">
                        Mail
                    </div>
                    <div class="col-8">
                        @Model.Person.Email
                    </div>
                </div>
            </div>
        </div>
        @if(!User.IsInRole("Customer"))
        {
            <div class="text-center">
                <a class="btn second-color m-2 radius25">Fiche client</a>
            </div>
        }
    </div>
    <div class="col-7 overflow-auto fourth-color radius10 p-4" style="height:500px">
        @foreach (var th in Model.TicketHistory)
        {
            if (th.Observation == "Transfer to tech")
            {
                continue;
            }
            else if (th.UserId == UserManager.GetUserId(User))
            {
                <div class="row">
                    <div class="col-6"></div>
                    <div class="third-color text-end radius10 p-1 w-50 col-6">
                        <p>@th.Observation</p>
                        <p>le @th.StatusDate</p>
                    </div>
                </div>
            }
            else
            {
                <div class="second-color radius10 p-1 w-50">
                    <p>@th.Observation</p>
                    <p>le @th.StatusDate</p>
                </div>
            }
            <br />
        }
    </div>
    <div class="col-5">
        <h4 class="text-white">En cas de complèment d'information, veuillez saisir votre message ci-après</h4>
        <form asp-action="CustomerTicketDetails" method="post">
            <input type="hidden" asp-for="IdTicket" />
            <div class="form-group">
                <textarea asp-for="Observation" class="form-control col-12 radius10 p-1" rows="10" placeholder="Veuillez saisir votre message ici..."></textarea>
                <span asp-validation-for="Observation" class="text-danger"></span>
                <br />
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

</div> *@